<tr>
  <div class="mt-2">
    <th>
      <label>
        <input type="radio" class="radio" name="selected_player" />
      </label>
    </th>
    <td>
      <div class="flex items-center gap-3">
        <label class="input">
          <span class="text-accent">Name:</span>
          <input type="text" class="grow" placeholder="Player name" />
        </label>
      </div>
    </td>
  </div>
</tr>
