<div class="flex flex-col items-center mt-8">
  <%= link_to "Create New Game", new_game_path, class: "btn btn-primary" %>
  <div class="w-lg mt-8">
    <h2 class="text-center">Existing Games</h2>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 mt-4">
      <table class="table">
        <tbody>
          <tr>
            <td>Some</td>
            <td>Data</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
